.date {
    font-family: "LXGW Wenkai Mono", monospace;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}

.pagination button {
  padding: 4px 10px;
  border: 1px solid #ccc;
  background: #f8f8f8;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.pagination button:hover:not(:disabled) {
  background: #eee;
}

.pagination button:disabled {
  color: #aaa;
  cursor: not-allowed;
}
